
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 22rem;">
            <img src="/Img/pasante.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Acerca de</h5>
                @*<div class="card" style="width: 18rem;">*@
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">(SGR)Sistema de gestion de recursos humanos para llevar el control del flujo de ingreso de empleados.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card" style="width: 22rem;">
            <img src="~/Img/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Funcionalidades</h5>
                @*<div class="card" style="width: 18rem;">*@
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Registro de empleados.</li>
                    <li class="list-group-item">Permisos segun el usuario.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 22rem;">
            <img src="/Img/pasante3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Integrantes</h5>
                @*<div class="card" style="width: 18rem;">*@
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item">Rafael Emilio Abreu.</li>
                    <li class="list-group-item">Manuel Omar Medina.</li>
                    <li class="list-group-item">Elianyi Yulibeth Otaño.</li>
                    <li class="list-group-item">Ian Emil Alvarez.</li>
                    <li class="list-group-item">Ramon.</li>
                </ul>
            </div>
        </div>
    </div>

</div>
